/* 

Colors -

Primary: 
HEX #fc7e2f
RGB (252,126,47)
CMYK (0,50,81,1)

Secondary
HEX #134070
RGB (19,64,112)
CMYK (83,43,0,56)

*/

body {
    text-align: center;
    background-color: #fc7e2f;
    color: #134070;
}

#timer {
	font-size: 8em;
    padding-top: 300px;
    display: none;
}

#settings {
	
}

#glhf {
    display: none;
}